@model IEnumerable<Elearn.Models.Playlist>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Courses:</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>







    <div class="row">

        @foreach (var item in Model)
        {
          
                <div class="col-sm-4 col-md-3 col-xs-12">
                    <a href="playlists/Details/@item.Id">
                        <div class="card" style="width: 100%">

                            <img src="~/images/@item.ImageFile" style=" width: 100% " alt="...">
                            
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)</li>

                            </ul>

                        </div>
                    </a>

                </div>
      









        }


    </div>
</div>
